<img src="mioti.png" style="height: 100px">
<center style="color:#888">Data Science with Python</center>

# DSPy4. Pandas "advanced"

In [3]:
import pandas as pd
import numpy as np

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Filling-null-values" data-toc-modified-id="Filling-null-values-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Filling null values</a></span></li><li><span><a href="#Alineación-de-datos-y-operaciones-aritméticas" data-toc-modified-id="Alineación-de-datos-y-operaciones-aritméticas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Alineación de datos y operaciones aritméticas</a></span></li><li><span><a href="#Reindexing" data-toc-modified-id="Reindexing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Reindexing</a></span></li><li><span><a href="#Apply" data-toc-modified-id="Apply-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Apply</a></span></li><li><span><a href="#Sorting" data-toc-modified-id="Sorting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Sorting</a></span></li><li><span><a href="#Unique-Values-and-Value-counts" data-toc-modified-id="Unique-Values-and-Value-counts-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Unique Values and Value counts</a></span></li><li><span><a href="#Group-by" data-toc-modified-id="Group-by-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Group by</a></span><ul class="toc-item"><li><span><a href="#Operaciones-sobre-grupos:" data-toc-modified-id="Operaciones-sobre-grupos:-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Operaciones sobre grupos:</a></span></li><li><span><a href="#Filtrado-sobre-grupos" data-toc-modified-id="Filtrado-sobre-grupos-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Filtrado sobre grupos</a></span></li></ul></li><li><span><a href="#Pivot-Tables" data-toc-modified-id="Pivot-Tables-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Pivot Tables</a></span></li><li><span><a href="#Combining-Datasets:-Concat" data-toc-modified-id="Combining-Datasets:-Concat-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Combining Datasets: Concat</a></span></li><li><span><a href="#Merging-DataFrames" data-toc-modified-id="Merging-DataFrames-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Merging DataFrames</a></span><ul class="toc-item"><li><span><a href="#Inner-Join" data-toc-modified-id="Inner-Join-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Inner Join</a></span></li><li><span><a href="#Left-Join" data-toc-modified-id="Left-Join-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>Left Join</a></span></li><li><span><a href="#Right-Join" data-toc-modified-id="Right-Join-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>Right Join</a></span></li><li><span><a href="#Outer-Join" data-toc-modified-id="Outer-Join-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span>Outer Join</a></span></li></ul></li><li><span><a href="#Method-chaining-vs.-chain-indexing" data-toc-modified-id="Method-chaining-vs.-chain-indexing-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Method chaining vs. chain indexing</a></span></li></ul></div>

## Filling null values

In [4]:
data = pd.Series([10, np.nan, 20, None,50], index=list('abcde'))
data

a    10.0
b     NaN
c    20.0
d     NaN
e    50.0
dtype: float64

In [5]:
data.isnull()

a    False
b     True
c    False
d     True
e    False
dtype: bool

Podemos rellenar los `Null` values con un valor concreto:

In [6]:
data.fillna(0)

a    10.0
b     0.0
c    20.0
d     0.0
e    50.0
dtype: float64

In [8]:
data.fillna('Desconocido')

a             10
b    Desconocido
c             20
d    Desconocido
e             50
dtype: object

También podemos asignar el valor previo al `Null`:

In [9]:
data.fillna(method='ffill')

a    10.0
b    10.0
c    20.0
d    20.0
e    50.0
dtype: float64

O con el valor posterior:

In [10]:
data.fillna(method='bfill')

a    10.0
b    20.0
c    20.0
d    50.0
e    50.0
dtype: float64

Para el caso de un `DataFrame` las opciones son similares, pero podemos especificar un eje:

In [11]:
df=pd.DataFrame({'A':[1,2,None,4],'B':[None,20,30,None],'C':[0.5,0.7,0.3,np.nan]})

In [12]:
df

     A     B    C
0  1.0   NaN  0.5
1  2.0  20.0  0.7
2  NaN  30.0  0.3
3  4.0   NaN  NaN

In [13]:
df.fillna(0)

     A     B    C
0  1.0   0.0  0.5
1  2.0  20.0  0.7
2  0.0  30.0  0.3
3  4.0   0.0  0.0

In [14]:
df.fillna('Desconocido')

             A            B            C
0            1  Desconocido          0.5
1            2           20          0.7
2  Desconocido           30          0.3
3            4  Desconocido  Desconocido

In [15]:
df.fillna(method='ffill')

     A     B    C
0  1.0   NaN  0.5
1  2.0  20.0  0.7
2  2.0  30.0  0.3
3  4.0  30.0  0.3

In [16]:
df.fillna(method='bfill')

     A     B    C
0  1.0  20.0  0.5
1  2.0  20.0  0.7
2  4.0  30.0  0.3
3  4.0   NaN  NaN

In [17]:
df.fillna(method='bfill',axis=1)

      A     B    C
0   1.0   0.5  0.5
1   2.0  20.0  0.7
2  30.0  30.0  0.3
3   4.0   NaN  NaN

In [18]:
df.fillna(df.mean())

          A     B    C
0  1.000000  25.0  0.5
1  2.000000  20.0  0.7
2  2.333333  30.0  0.3
3  4.000000  25.0  0.5

## Alineación de datos y operaciones aritméticas

Cuando realizamos operaciones aritméticas sobre las estructuras de datos de Pandas, el resultado se alinea por los índices (tanto fila y columna), añadiendo `NaN` cuando no hay coincidencia:

In [19]:
poblacion = pd.Series({'Madrid': 6.6, 'Barcelona': 5.5,
'Valladolid': 0.5})
area = pd.Series({'Madrid': 604, 'Valencia': 134,
'Valladolid': 197})

In [20]:
poblacion/area

Barcelona          NaN
Madrid        0.010927
Valencia           NaN
Valladolid    0.002538
dtype: float64

In [21]:
df1 = pd.DataFrame(np.arange(9).reshape((3,3)),
    columns=['Wind', 'Temp', 'Water_Q'],
    index=['Omaha', 'Copacabana', 'Bondi'])
df1

            Wind  Temp  Water_Q
Omaha          0     1        2
Copacabana     3     4        5
Bondi          6     7        8

In [23]:
df2 = pd.DataFrame(np.arange(15).reshape((5,3)),
    columns=['Wind', 'Air_Q', 'Water_Q'],
    index=['La Concha', 'Omaha', 'Copacabana', 'Bondi', 'Waikiki'])
df2

            Wind  Air_Q  Water_Q
La Concha      0      1        2
Omaha          3      4        5
Copacabana     6      7        8
Bondi          9     10       11
Waikiki       12     13       14

In [24]:
(df1 + df2) / 2

            Air_Q  Temp  Water_Q  Wind
Bondi         NaN   NaN      9.5   7.5
Copacabana    NaN   NaN      6.5   4.5
La Concha     NaN   NaN      NaN   NaN
Omaha         NaN   NaN      3.5   1.5
Waikiki       NaN   NaN      NaN   NaN

Y esto, también pasa en asignaciones:

In [25]:
df2["Noise level"] = pd.Series([32,21], index=["Bondi", "Copacabana"])
df2

            Wind  Air_Q  Water_Q  Noise level
La Concha      0      1        2          NaN
Omaha          3      4        5          NaN
Copacabana     6      7        8         21.0
Bondi          9     10       11         32.0
Waikiki       12     13       14          NaN

In [26]:
df2.loc["Bora Bora"] = pd.Series([1,2] , index=["Wind", "Noise level"])
df2

            Wind  Air_Q  Water_Q  Noise level
La Concha    0.0    1.0      2.0          NaN
Omaha        3.0    4.0      5.0          NaN
Copacabana   6.0    7.0      8.0         21.0
Bondi        9.0   10.0     11.0         32.0
Waikiki     12.0   13.0     14.0          NaN
Bora Bora    1.0    NaN      NaN          2.0

## Reindexing

Imaginemos que lanzamos una consulta a una BBDD para obtener las ventas agregadas de refrescos del último mes y obtenemos lo siguiente:

In [27]:
sales_month = pd.DataFrame(
    data = {
        'units': [1200, 800, 100],
        'amount': [2300, 1500, 1200]
    }, 
    index=['Coca-Cola', 'Pepsi', 'Fanta'])
sales_month

           units  amount
Coca-Cola   1200    2300
Pepsi        800    1500
Fanta        100    1200

Los productos que no vendieran nada ese mes no aparecerían como agregados lógicamente... Sin embargo, a nosotros nos interesaría que aparecieran en el resultado final, con ventas = 0:

In [28]:
master_products = ['Pepsi', "Gold Cola", "Vodka Kneip", "Fanta"]
sales_month = sales_month.reindex(master_products, fill_value=0)
sales_month = sales_month.set_index(master_products, fill_value=0)
sales_month

             units  amount
Pepsi          800    1500
Gold Cola        0       0
Vodka Kneip      0       0
Fanta          100    1200

##  Apply

Para aplicar funciones a un dataframe por columnas o por filas, **si es que no puedo vectorizar la operación**

In [ ]:
df = pd.read_csv('census.csv',usecols=["CTYNAME","POPESTIMATE2010","POPESTIMATE2011"])
df = df.set_index('CTYNAME')
df = df.head(10)
df

In [ ]:
def min_and_max(estimates):
    return pd.Series([estimates.min(), estimates.max()], index=["min", "max"])

In [ ]:
df.apply?

Si queremos aplicar la función a cada columna:

In [ ]:
df_col = df.apply(min_and_max, axis='rows')#axis=0
df_col

Si queremos aplicar la función a cada fila:

In [ ]:
def variacion(row):
    if row['POPESTIMATE2010']>row['POPESTIMATE2011']:
        value='Decreciendo'
    else:
        value='Creciendo'
    return pd.Series([value], index=["Estado Poblacion"])

In [ ]:
df_row = df.apply(variacion, axis='columns')
df_row.head(5)

In [ ]:
def mean_estimate(row):
    return (row['POPESTIMATE2010'] + row['POPESTIMATE2011'])/2

In [ ]:
df['MEAN_POPESTIMATE2010_2011']=df.apply(mean_estimate,axis=1)
df.head(10)

##  Sorting

In [ ]:
df = pd.read_csv('census.csv',usecols=["CTYNAME","POPESTIMATE2010","POPESTIMATE2011"])
df = df.set_index('CTYNAME')
df.head(10)

Sorting by the index:

In [ ]:
df.sort_index()

In [ ]:
df.sort_index(ascending=False)

Sorting by columns:

In [ ]:
df.sort_values(by='POPESTIMATE2010',ascending=False)

In [ ]:
df.sort_values(by=['POPESTIMATE2010','POPESTIMATE2011'],ascending=False)

In [ ]:
df.sort_values(by=['POPESTIMATE2010','POPESTIMATE2011'],ascending=[False,True])

## Unique Values and Value counts

In [ ]:
df = pd.read_csv('census.csv', usecols=["STNAME", "CTYNAME","POPESTIMATE2010","POPESTIMATE2011"])
df=df[:500]
df.head(10)

Con la función `unique` obtenemos los valores únicos en una serie:

In [ ]:
df.STNAME.unique()

Con la función `value_counts` obtenemos la frecuencia con la que aparece un valor en la serie:

In [ ]:
df.STNAME.value_counts()

## Group by

In [ ]:
df = pd.read_csv('census.csv', usecols=["STNAME", "CTYNAME","POPESTIMATE2010","POPESTIMATE2011"])
df=df[:100]
df.head(10)

In [ ]:
df_grouped = df.groupby('STNAME')
df_grouped

In [ ]:
df_grouped.groups

### Operaciones sobre grupos:

In [ ]:
df_grouped.sum()

In [ ]:
df_grouped.mean()

In [ ]:
df_grouped.size()

In [ ]:
df_grouped.describe()

In [ ]:
df_grouped_info = df_grouped.agg(
    {
        'POPESTIMATE2010':"sum", 
     'POPESTIMATE2011':"sum"
    }
)
df_grouped_info

### Filtrado sobre grupos

Sirve para seleccionar dato del dataframe de partida en función de condiciones de la agrupación

In [ ]:
def filter_func(x):
    return x['POPESTIMATE2010'].sum() > 2000000

In [ ]:
df_grouped.filter(filter_func)

## Pivot Tables

Las `pivot tables` se pueden interpretar como una versión multidimensional del `group by`

In [ ]:
df = pd.read_csv('cars.csv')

In [ ]:
df.head(12)

In [ ]:
df.pivot_table?

In [ ]:
df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc='mean')

In [ ]:
df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc=['mean','min'], margins=True)

También existe la operación inversa:

In [ ]:
df_reduced = df[['YEAR', 'Model','(kW)']]
df_reduced

In [ ]:
df_pivoted = df_reduced.pivot_table(values='(kW)', index='YEAR', columns='Model')
df_pivoted

In [ ]:
df_restored = df_pivoted.stack()
df_restored

In [ ]:
df_restored.name = "(kW)"

In [ ]:
df_restored.reset_index()

## Combining Datasets: Concat

In [ ]:
pd.concat?

Para el caso de una `serie` de pandas:

In [ ]:
ser1 = pd.Series(['AA', 'BB', 'CC'], index=[1, 2, 3])
ser2 = pd.Series(['DD', 'EE', 'FF'], index=[4, 5, 6])
pd.concat([ser1, ser2])

Para el caso de un `dataframe` de pandas:

In [ ]:
df1=pd.DataFrame({'A':[1,2],'B':[1,2]},index=[1,2])
df2=pd.DataFrame({'A':[3,4],'B':[3,4]},index=[3,4])

In [ ]:
pd.concat([df1,df2])

En python, tenemos dos tipos de ejes, 
* axis = 0 denota el eje horizontal
* axis = 1 denota el eje vertical

In [ ]:
df1=pd.DataFrame({'A':[1,2],'B':[1,2]},index=[1,2])
df2=pd.DataFrame({'C':[1,2],'D':[1,2]},index=[1,2])

In [ ]:
pd.concat([df1,df2],axis=1)

pd.concat preserva índices:

In [ ]:
df1=pd.DataFrame({'A':[1,2],'B':[1,2]},index=[1,2])
df2=pd.DataFrame({'A':[3,4],'B':[3,4]},index=[1,2])
pd.concat([df1,df2])

In [ ]:
pd.concat([df1,df2], verify_integrity=True)

In [ ]:
pd.concat([df1,df2], ignore_index=True)

## Merging DataFrames

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df.head())
print()
print(student_df.head())

In [ ]:
pd.merge?

**Inner Join <= A (Left Join), B (Right Join) <= Outer Join**

### Inner Join
* Devuelve un data frame con las filas que tienen valor tanto en el primero como en el segundo data frame que estamos uniendo
* El número de filas será igual al número de filas **comunes** que tengas ambos data sets
    * Data Set A tiene 60 filas
    * Data Set B tiene 50 filas
    * Ambos comparten 30 filas
    * Entonces A Inner Join B tendrá 30 filas
    
<img src="inner-join.png" style="height: 100px">

In [ ]:
staff_df

In [ ]:
student_df

In [ ]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

### Left Join
* Devuelve un data frame con las filas que tuvieran valor en el dataset de la izquierda, sin importar si tienen correspondencia en el de la derecha o no.
* Las filas del data frame final que no correspondan a ninguna fila del data frame derecho, tendrán NAs en las columnas del data frame derecho.
* El número de filas será igual al número de filas del data frame izquierdo
    * Data Set A tiene 60 filas
    * Data Set B tiene 50 filas
    * Entonces A Left Join B tendrá 60 filas
<img src="left-join.png" style="height: 100px">

In [ ]:
student_df

In [ ]:
student_df

In [ ]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

### Right Join
* Devuelve un data frame con las filas que tuvieran valor en el dataset de la derecha, sin importar si tienen correspondencia en el de la izquierda o no.
* Las filas del data frame final que no correspondan a ninguna fila del data frame izquierdo, tendrán NAs en las columnas del data frame izquierdo.
* El número de filas será igual al número de filas del data frame derecho
    * Data Set A tiene 60 filas
    * Data Set B tiene 50 filas
    * Entonces A Right Join B tendrá 50 filas
<img src="right-join.png" style="height: 100px">

In [ ]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

### Outer Join
* Devuelve un data frame con todas las filas de ambos, reemplazando las ausencias de uno o de otro con NAs en la región específica..
* Las filas del data frame final que no correspondan a ninguna fila del data frame derecho (o izquierdo), tendrán NAs en las columnas del data frame derecho (o izquierdo).
* El número de filas será igual al máximo número de filas de ambos data frames
    * Data Set A tiene 60 filas
    * Data Set B tiene 50 filas
    * Ambos comparten 30 filas
    * Entonces A Outer Join B tendrá 60 + 50 - 30 = 80 filas
<img src="outer-join.png" style="height: 100px">

In [ ]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

In [ ]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
student_df

In [ ]:
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}])
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

In [ ]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}])
print(staff_df)
print(student_df)
pd.merge(staff_df, student_df, how='inner', left_on=['First Name','Last Name'], right_on=['First Name','Last Name'])

##  Method chaining vs. chain indexing

In [ ]:
df = pd.read_csv('census.csv')
df

Las funciones de Pandas devuelven copias de los DataFrames sobre los que operan, y podemos, por tanto, encadenar llamadas. Los siguientes dos bloques de código son equivalentes:

In [ ]:
df_unchained = df.set_index(['STNAME','CTYNAME'])
df_unchained = df_unchained.rename(columns={'SUMLEV': 'SUMMARYLEVELS'})
df_unchained.head(10)

In [ ]:
df_chained = (df
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'SUMLEV': 'SUMMARYLEVELS'})
    # ...
)
df_chained.head(10)