<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

<img src="mioti.png" style="height: 100px">
<center style="color:#888">Data Science with Python</center>

# DSPy3 Pandas basics. Challenge.

**Inicialización**

Vamos a trabajar con un dataset que contiene una lista de películas con, entre otros atributos, el número de muertes visibles en ellas. Se encuentra en el fichero `filmdeathcounts.csv`.

<img src="killer_body_count.jpg" style="width:800px">

In [1]:
import pandas as pd
df = pd.read_csv("filmdeathcounts.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Film            545 non-null    object
 1   Year            545 non-null    int64
 2   Body_Count      545 non-null    int64
 3   MPAA_Rating     545 non-null    object
 4   Genre           545 non-null    object
 5   Director        545 non-null    object
 6   Length_Minutes  545 non-null    int64
dtypes: int64(3), object(4)
memory usage: 29.9+ KB

,Film,Year,Body_Count,MPAA_Rating,Genre,Director,Length_Minutes
0,24 Hour Party People,2002,7,R,Biography|Comedy|Drama|Music,Michael Winterbottom,117
1,28 Days Later,2002,53,R,Horror|Sci-Fi|Thriller,Danny Boyle,113
2,28 Weeks Later,2007,212,R,Horror|Sci-Fi|Thriller,Juan Carlos Fresnadillo,100
3,30 Days of Night,2007,67,R,Horror|Thriller,David Slade,113
4,300,2007,600,R,Action|Fantasy|History|War,Zack Snyder,117

**Ejercicio 1:** Muestra un dataframe con los 10 films con menos muertes, y su número de muertes, ordenados de menos a más.

In [2]:
df.sort_values('Body_Count').head(10)

,Film,Year,Body_Count,MPAA_Rating,Genre,Director,Length_Minutes
24,Alien,1979,1,R,Horror|Sci-Fi,Ridley Scott,117
6,8MM,1999,1,R,Crime|Mystery|Thriller,Joel Schumacher,123
495,The Yards,2000,2,R,Crime|Drama|Romance|Thriller,James Gray,115
502,To Die For,1995,2,R,Comedy|Crime|Drama,Gus Van Sant,106
541,Zodiac,2007,3,R,Crime|Drama|Mystery|Thriller,David Fincher,157
255,Mean Machine,2001,3,R,Comedy|Drama|Sport,Barry Skolnick,99
128,Donnie Darko,2001,3,R,Drama|Mystery|Sci-Fi,Richard Kelly,113
213,Kill Bill: Vol. 2,2004,3,R,Action|Crime|Thriller,Quentin Tarantino,137
471,The Phantom of the Opera,2004,3,PG-13,Drama|Musical|Romance,Joel Schumacher,143
47,Barton Fink,1991,3,R,Drama|Mystery,Joel Coen|Ethan Coen,116

**Ejercicio 2:** Encuentra el film con el mayor número de muertes.

In [3]:
df[df['Body_Count']==df['Body_Count'].max()]

,Film,Year,Body_Count,MPAA_Rating,Genre,Director,Length_Minutes
241,Lord of the Rings: Return of the King,2003,836,PG-13,Action|Adventure|Fantasy,Peter Jackson,201

**Ejercicio 3:** La pregunta anterior equivaldría a "¿cuál es el film más violento?". Si no, ¿cuál es?

In [4]:
#Ratio muertos por minuto
df['MuertosxMin']=df['Body_Count']/df['Length_Minutes']
df[df['MuertosxMin']==df['MuertosxMin'].max()]

,Film,Year,Body_Count,MPAA_Rating,Genre,Director,Length_Minutes,MuertosxMin
4,300,2007,600,R,Action|Fantasy|History|War,Zack Snyder,117,5.128205

Para los siguientes ejercicios contamos con otro CSV, `tmdb_5000_movies.csv`, con más películas y más información sobre las mismas.

**Ejercicio 4:** Usando el anterior dataset, ¿qué porcentaje de películas está por encima de la media global en términos de beneficio? Redondea a dos decimales.

In [7]:
df_2 = pd.read_csv("tmdb_5000_movies.csv")
df_2.info()
df_2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [11]:
media = float(df_2['budget'].mean())

In [61]:
num_films= df_2.loc[:,'id'].count()
num_films_x_encima=df_2.loc[df_2['budget']>=media].loc[:,'id'].count()
porcentaje= round((número_films_x_encima*100)/num_films,2)
print('El porcentaje de films con presupuesto por encima de la media es : ',porcentaje, '%')

El porcentaje de films con presupuesto por encima de la media es :  33.27 %