<img src="mioti.png" style="height: 100px">
<center style="color:#888">Data Science with Python @ Máster IoT</center>

# DSPy8. Data loading. Worksheet.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ficheros" data-toc-modified-id="Ficheros-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ficheros</a></span><ul class="toc-item"><li><span><a href="#CSV" data-toc-modified-id="CSV-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>CSV</a></span></li><li><span><a href="#JSON" data-toc-modified-id="JSON-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>JSON</a></span></li><li><span><a href="#HDF5" data-toc-modified-id="HDF5-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>HDF5</a></span></li></ul></li><li><span><a href="#Bases-de-datos" data-toc-modified-id="Bases-de-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Bases de datos</a></span></li><li><span><a href="#API-(REST)" data-toc-modified-id="API-(REST)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>API (REST)</a></span></li></ul></div>

## Ficheros
En Pandas podemos leer muchos tipos de ficheros a través de las funciones `read_*()` y escribirlos a través de `to_*()`

<img src="io.png" style="width: 600px">

### CSV

In [1]:
import pandas as pd

Para ver los contenidos en **Linux, MacOS**

In [2]:
!cat ex_csv.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

Para ver los contenidos en **Windows**

In [2]:
!type ex_csv.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
df_csv = pd.read_csv('ex_csv.csv')
df_csv

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_csv?

### JSON

In [6]:
!cat ex_json.json

{
   "1": {"a": 1, "b": 2, "c": 3},
   "2": {"a": 4, "d": 5, "e": 6},
   "3": {"a": 7, "b": 8, "c": 9}
}

In [7]:
pd.read_json?

In [8]:
df_json = pd.read_json('ex_json.json', orient='index')
df_json

   a    b    c    d    e
1  1  2.0  3.0  NaN  NaN
2  4  NaN  NaN  5.0  6.0
3  7  8.0  9.0  NaN  NaN

### HDF5

_Hierarchical data format_. Para almacenar grandes cantidades de datos en forma de array (de forma jerárquica o no), puesto que comprime los datos y los almacena muy eficientemente. Además, permite leer y escribrir partes del mismo sin tener que cargarlo enteramente en memoria.
<img src="hdf5.png" style="height: 400px">

In [9]:
store = pd.HDFStore('ex_hdf5.h5')
print(store.info())

<class 'pandas.io.pytables.HDFStore'>
File path: ex_hdf5.h5
/ex_1                frame        (shape->[100,1])
/ex_1_col            series       (shape->[100])

In [10]:
store["ex_1"]

    random_num
0    -0.920824
1     0.933638
2    -0.895652
3     0.494537
4    -1.393682
..         ...
95    0.541680
96   -1.224800
97   -0.329908
98    0.974290
99    1.446878

[100 rows x 1 columns]

Podemos hacerle queries si los datos se guardan de una determinada manera (formato `table`), aunque es más lenta la lectura / escritura.

## Bases de datos
<img src="sql.png" style="height: 350px">

Con interfaces que nos permiten hacer queries directamente en SQL o ORMs

In [3]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///db.sqlite3')
pd.read_sql('select * from auth_user', db)

,id,password,last_login,is_superuser,first_name,last_name,email,is_staff,is_active,date_joined,username
0,1,pbkdf2_sha256$30000$WlwSnCmdZV6E$tpZv5yErj4621...,2017-01-12 18:42:29.105575,1,,,joe@example.com,1,1,2017-01-12 18:42:14.979901,joe
1,3,pbkdf2_sha256$30000$Ygkia1t9SDHC$wD5YqLXyPxRDC...,2017-08-27 12:21:45.300949,1,,,mario@mario.com,1,1,2017-04-17 13:51:06.371262,mario

## API (REST)

REST: Representational State Transfer. Mecanismo request/response.

<img src="rest.png" style="height: 350px">

In [4]:
import requests
import json

wanted_keys = ["name", "weight", "height", "base_experience", "location_area_encounters"]

data = {}
for i in [131, 150, 123, 90]:
    # We make a request for a particular pokemon id
    response = requests.get('http://pokeapi.co/api/v2/pokemon/{}'.format(i)) 
    # Read the response (as a JSON)
    response_dict = response.json()
    # The update the data dict with a dictionary of only the wanted_keys of the response
    pokemon_data = { key: response_dict[key] for key in wanted_keys}
    print(f"pokemon_data: {pokemon_data}")
    data.update({i: pokemon_data })
    

data = pd.DataFrame.from_dict(data, orient="index").set_index("name")
data

pokemon_data: {'name': 'lapras', 'weight': 2200, 'height': 25, 'base_experience': 187, 'location_area_encounters': 'https://pokeapi.co/api/v2/pokemon/131/encounters'}
pokemon_data: {'name': 'mewtwo', 'weight': 1220, 'height': 20, 'base_experience': 306, 'location_area_encounters': 'https://pokeapi.co/api/v2/pokemon/150/encounters'}
pokemon_data: {'name': 'scyther', 'weight': 560, 'height': 15, 'base_experience': 100, 'location_area_encounters': 'https://pokeapi.co/api/v2/pokemon/123/encounters'}
pokemon_data: {'name': 'shellder', 'weight': 40, 'height': 3, 'base_experience': 61, 'location_area_encounters': 'https://pokeapi.co/api/v2/pokemon/90/encounters'}

,weight,height,base_experience,location_area_encounters
name,,,,
lapras,2200,25,187,https://pokeapi.co/api/v2/pokemon/131/encounters
mewtwo,1220,20,306,https://pokeapi.co/api/v2/pokemon/150/encounters
scyther,560,15,100,https://pokeapi.co/api/v2/pokemon/123/encounters
shellder,40,3,61,https://pokeapi.co/api/v2/pokemon/90/encounters